<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Comisiones | Eliminar</title>
        <link rel="stylesheet" type="text/css" href="static/css/main.css" th:href="@{/css/main.css}">
    </head>
    <body>
        <div class="contenedor">
            <h1>Eliminar Registro</h1>
            <div th:if="${empleados != null and !empleados.empty}">
                <form action="eliminarRegistro" method="post">
                    <table border="1">
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                        </tr>
                        <tr th:each="empleado : ${empleados}">
                            <td th:text="${empleado.codigo}"></td>
                            <td th:text="${empleado.nombre}"></td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td><label for="codigo">Código del que desea eliminar: </label></td>
                            <td><input type="text" name="codigo"></input></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" value="Eliminar"></input></td>
                        </tr>
                    </table>
                </form>
                <p th:text = "${msg}"></p>
            </div>
            <div th:if ="${empleados ==null or empleados.empty}">
                No hay registros.
            </div>
            <a href="http://www.localhost:8080"><input type="button" value="Regresar"></a>
        </div>
    </body>
</html>
