<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="https://www.thymeleaf.org" lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Comisiones</title>
        <link rel="stylesheet" type="text/css" href="static/css/main.css" th:href="@{/css/main.css}">
    </head>
    <body>
        <div class="contenedor">
            <h1>Menú Principal</h1>
            <a href="http://www.localhost:8080/agregar"><input type="button" value="Agregar Empleado"></a>
            <a href="http://www.localhost:8080/listar"><input type="button" value="Listar Empleados"></a>
            <a href="http://www.localhost:8080/editar"><input type="button" value="Editar Empleado"></a>
            <a href="http://www.localhost:8080/eliminar"><input type="button" value="Eliminar Empleado"></a>
            <a href="http://www.localhost:8080/mayor-vendedor"><input type="button" value="Mayor Vendedor"></a>
            <a href="http://www.localhost:8080/buscar"><input type="button" value="Buscar por Cantidad"></a>
        </div>
    </body>
</html>
